/*Hide the actual checkbox*/
input[type="checkbox"] {
    display:none;
}

/*Style the span that comes after the checkbox*/
input[type="checkbox"] + span {
    display:inline-block;
    width:32px;
    height:32px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(unchecked.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + span {
    background:url(checked.png) top no-repeat;
}